<ActionBar title="Explorar" class="action-bar">
  <NavigationButton text="Menú" android.systemIcon="ic_menu_moreoverflow" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<GridLayout class="page-content">
  <StackLayout verticalAlignment="middle">
    <Label text="Explorar" class="h1" textAlignment="center"></Label>
    <Label text="Sección base del Side Drawer para demostrar navegación modular." class="subtitle" textWrap="true" textAlignment="center"></Label>
  </StackLayout>
</GridLayout>
